table{
	border: 2px solid black;
	border-collapse: collapse;
	margin-bottom: 25px;
}
td, th{
	padding: 10px;
	border: 1px solid black;
	text-align: center;
}
th{
	cursor: pointer;
	background-color: #d1d1ff;
}
tr:nth-child(even){
	background-color: #f1f3f1;
}
#button{
	height: 40px;
	width: 125px;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 10px;
	cursor: pointer;
	background: #F2973B;
	color: white;
	font-size: 15px;
	border-radius: 10px;
	vertical-align: middle;
	text-align: center;
}
/*
 *additional id for redefine tr:nth-child(even) selector
*/
#container .focus{
	background-color: lightgrey;
}